* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	transition: all .6s ease; 
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-image: url(1.jpg);
	background-size: cover;
	background-position: center center;
	font-family: "Poppins", sans-serif;
	text-align: center;
}
.container {
	padding: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.service {
	width: 350px;
	margin: 25px;
	padding: 40px;
	border-radius: 15px;
	color: #fff;
	background-color: rgba(255,255,255,0.06);
	backdrop-filter: blur(20px);
    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
	transition: all 0.6s ease-in-out;
}
.service:hover{
	transform: translateY(-25px);
}
.service .icon-area {
	width: 100%;
	margin-bottom: 20px;
}
.icon-area i {
	font-size: 70px;
	color: #fff;
}
.service:hover i{
	transform: rotate(360deg);
}
.service h6 {
	margin-bottom: 10px;
	color: #fff;
	font-size: 50px;
	font-family: "Protest Riot", sans-serif;
	text-transform: capitalize;
}
.service a {
	text-decoration: none;
	display: inline-block;
	border: 2px solid #fff;
	color: #fff;
	padding: 10px 30px;
	margin-top: 20px;
	border-radius: 50px;
}
.service a:hover {
	background: #fff;
	color: #262626;
}

@media (max-width: 800px){
	.service:hover{
		transform: translateY(-5px);
	}
}
